/*! ============================================ */
/*! task8.css — здесь пишем решение */
/*! ============================================ */

/* ——— Верхний коридор: flex-grow ——— */
.sec-1 {
	flex-grow: 1;
}

.sec-2 {
	flex-grow: 3;
}

.sec-3 {
	flex-grow: 5;
}

/* ——— Нижний коридор: flex-shrink ——— */
.sec-4 {
	flex-shrink: 1;
}

.sec-5 {
	flex-shrink: 3;
}

.sec-6 {
	flex-shrink: 1;
}