* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

body {
	background: #0f172a;
	color: white;
	height: 200vh;
	padding: 20px;
}

/*! header fixed */
.header {
	width: 100%;
	height: 50px;
	background: #1e293b;
	display: flex;
	align-items: center;
	padding-left: 20px;
}

/*TODO Все что выше не трогать, пишите про позицию в fixed-header */
.fixed-header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}

/*! relative container */
.container {
	margin-top: 80px;
	width: 800px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	background: #1e293b;
	border-radius: 10px;
	padding: 20px;
}

/*TODO Все что выше не трогать, пишите про позицию в container-relative */
.container-relative {
	position: relative;
}

/*! absolute block */
.box {
	width: 120px;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	font-weight: bold;
}

/*TODO Сюда пишем позиционирование */
.box-position {
	position: absolute;
}

/*! Задаем кординаты */
.box1 {
	background: #ef4444;
	bottom: 20px;
	left: 20px;
}

.box2 {
	background: #3b82f6;
	top: 130px;
	left: 300px;
	z-index: 2;
}

.box3 {
	background: purple;
	top: 130px;
	left: 350px;
	z-index: 3;
}

.box4 {
	background: #22c55e;
	bottom: 20px;
	right: 20px;
}

.box5 {
	background: pink;
	top: 10px;
	right: 10px;
}

/*! relative block */
.relative-box {
	width: 150px;
	height: 100px;
	background: #f59e0b;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	margin-top: 30px;

	/*TODO Сюда указывайте координаты */
	top: -70px;
	left: 300px;
}

/*! button fixed */
.fixed-btn {
	position: fixed;
	background: #8b5cf6;
	padding: 15px 20px;
	border-radius: 10px;
	border-color: #8b5cf6;

	/*TODO Сюда указывайте координаты */
	bottom: 20px;
	right: 20px;
}